<section class="login-container shadow">
    <p class="login">Login</p>

    <div class="credentials-container flex flex-column">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit" class="submit-btn">Login!</button>
        <a class="login-choice" href="register">Sign up instead</a>
    </div>
</section>

<script src="/js/login.js"></script>