/**
 * /* --------------------
 *
 * @format
 */

/* Custom Properties   */
/* --------------------*/

:root {
    --darkest: #041b1a;
    --purple: #870058ff;
    --burgundy: rgb(32, 6, 9);
    --button: rgb(85, 84, 83);
    --tea: #c8d6afff;
  }
  
  /* --------------------*/
  /* Reset               */
  /* --------------------*/
  
  /* https://piccalil.li/blog/a-modern-css-rest/ */
  
  /* Box Sizing */
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Default font size - 1em = 16px - 2.1rem = 21px */
  
  html {
    font-size: 62.5%;
  }
  
  /* Reset margins */
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  picture,
  figure {
    margin: 0;
  }
  
  /* Set up the body */
  
  body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
  }
  
  main {
    font-size: 2rem;
  }
  
  /*make images easier to work with */
  
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* make form elements easier to work with */
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* remove animations for people who've turned them off */
  
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  /* Sticky footer */

body > footer {
  position: sticky;
  top: 100vh;
}
  
  /* --------------------*/
  /* Utility classes     */
  /* --------------------*/
  
  .flex {
    display: flex;
    gap: var(--gap, 2rem);
  }
  
  .grid {
    display: grid;
    gap: var(--gap, 1rem);
  }
  
  .container {
    padding-inline: 2em; /*looking at inline access of container (left and right side, not top and bottom)*/
    margin-inline: auto;
    max-width: 80rem;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .space-evenly {
    justify-content: space-evenly;
  }
  
  .align-center {
    align-items: center;
  }

   /* --------------------*/
  /* Nav                 */
  /* --------------------*/

  nav {
    background-color: var(--burgundy);
    color: var(--tea);
    border-top: 3em solid black;
    border-bottom: groove 1em var(--tea);
    width: 100%;
    min-height: 28vh;
    padding: 2em;
  }

  .brand-home {
    list-style: none;
    text-decoration: none;
    background-color: var(--tea);
    color: var(--burgundy);
    padding: .5em;
    font-weight: 700;
    font-size: 1em;
    border-radius: 8px;
    margin: 1em;
    box-shadow: 10px  2px silver;
  }

  .brand-home:hover {
    color: var(--burgundy);
  }

  .nav-list {
    list-style-type: none;
    
  }

  .nav-btn {
    color: var(--tea);
    text-decoration: none;
    font-size: 2.5em;
    margin: 1em;
  }

  .nav-btn:hover {
    color: var(--tea);
    border-bottom: 4px solid var(--tea);
  }

  .title-container {
    
  }

  .subtitle-container {
    background-color: var(--tea);
    font-weight: 700;
    font-size: 1.5em;
  }

  footer {
    background-color: var(--burgundy);
    color: var(--tea);
    padding: 1em;
  }